# dependencies (bun install)
node_modules

# output
out
dist
storybook-static
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

.*
!.storybook/
!.storybook/**

# caches
.eslintcache
.cache
*.tsbuildinfo
!.gitignore
