# dependencies (bun install)
node_modules

# output
out
dist
storybook-static
catalog-dist
test-results
playwright-report
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

.*

# caches
.eslintcache
.cache
*.tsbuildinfo
!.gitignore
!.gitlab-ci.yml
!.agents
!.changeset/
!.githooks/
!.githooks/**
!.github/
!.github/**
release-note.md
